body{
  background:#f5f5f5;
  font-family: Arial, sans-serif;
}

.resume{
  max-width:1000px;
  margin:30px auto;
  background:white;
  display:grid;
  grid-template-columns: 280px 1fr;
  box-shadow:0 0 15px rgba(0,0,0,0.12);
}

.sidebar{
  background:#2d3440;
  color:white;
  padding:25px;
}

.name{
  font-size:26px;
  margin:0;
}

.title{
  font-style:italic;
  margin-bottom:30px;
  color:#ccc;
}

.block{
  margin-bottom:25px;
}

.block h3{
  border-bottom:1px solid #888;
  padding-bottom:6px;
  margin-bottom:10px;
}

.sidebar p{
  font-size:14px;
}

.sidebar ul{
  padding-left:18px;
}

.bar{
  height:8px;
  background:#555;
  border-radius:6px;
  margin-bottom:12px;
}

.fill{
  height:100%;
  background:#00c2ba;
  border-radius:6px;
}

.native{ width:95%; }
.inter{ width:65%; }

.content{
  padding:30px;
}

section{
  margin-bottom:25px;
}

section h2{
  margin-bottom:10px;
  border-bottom:2px solid #ddd;
}

section p, li{
  font-size:15px;
  line-height:1.6;
}

.item{
  display:flex;
  margin-bottom:15px;
}

.year{
  width:70px;
  color:#666;
  font-weight:bold;
}

.info h3{
  margin:0;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color:red ;
}
